.header{
  background-color: yellow;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  height: : 15px;
}
.menu{
  background-color: black;
  color: #fd693d;
}
.main{
  height: 100%;
  width: 100%;
  background-color: #fff176ab;
}
.inicio-nuestroMenú{

  margin-top: 10vh;
  margin-left: 25%;
  font-family: 'Arimo', sans-serif;

}
.nav-link {
  color: #f79054;
}
.plato-comida-mexicana{
   height: 268px;
   padding: 2px;
   width: 185px;

}
.catalogodefotos{
  height: 170px;
  padding: 2px;
  width: 185px;
}
.boton-galeria{
  margin-left: 30%;
  margin-top: 30px;
  text-align: center;
}
.boton-res-dud{
  margin-left: 30%;
  margin-top: 30px;

}
.boton-galeria-menu{
  margin-left: 40%;
}
.antojate-title{
  margin-left: 5px;
  margin-right: 25px;
  text-align: center;
}
.reservas{
  height: 170px;
  padding: 2px;
  width: 185px;
}
.title-reserva{
  text-align: center;

}
.title-contacto{
  margin-left: 35%;
}
.inicio-reser{
  margin-left: 25%;
  font-family: 'Arimo', sans-serif;
  margin-top: 10vh;
}
.inicio-cont{
  margin-left: 25%;
  font-family: 'Arimo', sans-serif;
  margin-top: 10vh;
}
.footer{
  background-color: black;
  text-align: center;
  color: white;
  height: 100px;
}
.imagenes-menu{
  width: 200px;
  height: 150px;
}
.div_menu{
  margin-top: 100px;
}
.div-imagenes{
  margin-top: 100px;
}
.imagen-izquierda{
  margin-left: 25%;
}
.imagen-central{
  margin-left: 20%;
}
.imagen-derecha{
  margin-right: 15%;
  margin-left: 10%;
}
.main-menu{
  height: 100vh;
  width: 100%;
  background-color: #fff176ab;
}
.carrusel-imagenes{
  width: 60%;
  height: 50vh;
  margin-top: 10%;
  margin-left: 20%;
}
.card-reserva{
  width: 60%;
  margin-left: 20%;
  margin-top:  100px;
  margin-bottom: 20vh;
}
.carrusel{
  width: 70%;
  height: 50vh;
}
.imagen-1{
  width: 50%;
  height: 40%;
  margin-top: 20vh;
  margin-left: 25%;
}
.imagen-2{
  width: 50%;
  height: 40%;
  margin-top: 20vh;
  margin-left: 25%;
  border: 2px solid black;
}
.imagen-3{
  width: 50%;
  height: 40%;
  margin-top: 20vh;
  margin-left: 25%;
  border: 2px solid black;
}
.imagen-4{
  width: 50%;
  height: 40%;
  margin-top: 20vh;
  margin-left: 25%;
  border: 2px solid black;
}
.contacto-div{
  width: 60%;
  margin-left: 20%;
  margin-top:  120px;
  margin-bottom: 20vh;
}
.menu-title{
  text-align: center;
  margin-left: 55%;
}
